footer{
    background-color: #e6e6e6;
    margin-top: 2rem;
}

.footer-title{
    color: $color-principal;
    font-size: 1.8rem;
    font-family: "encabezado";
    text-align: center;
    padding: 2rem 0;

    @include from(medium){
        font-size: 2.5rem;
    }

}