.swiper-container{
    width: 90%;
}

.swiper-slide > img{
    border-radius: 1rem;
}

.swiper-pagination-bullet{
    background-color: #FFF;
    width: 1rem;
    height: 1rem;
    margin: 0 .5rem !important;
}